:root {
  /* Typography Tokens */
  --font-label-small: Circular Std;
  --font-weight-label-small: 450;
  --font-size-label-small: 12px;
  --line-height-label-small: 16px;
  --letter-spacing-label-small: normal;
  --font-headings-h5: Roboto;
  --font-weight-headings-h5: 400;
  --font-size-headings-h5: 23px;
  --line-height-headings-h5: 32px;
  --letter-spacing-headings-h5: normal;
  --font-label-large: Circular Std;
  --font-weight-label-large: 450;
  --font-size-label-large: 15px;
  --line-height-label-large: 24px;
  --letter-spacing-label-large: normal;
  --font-headings-h3: Roboto;
  --font-weight-headings-h3: 400;
  --font-size-headings-h3: 32px;
  --line-height-headings-h3: 40px;
  --letter-spacing-headings-h3: normal;
  --font-label-medium: Circular Std;
  --font-weight-label-medium: 450;
  --font-size-label-medium: 14px;
  --line-height-label-medium: 20px;
  --letter-spacing-label-medium: normal;
  --font-headings-h7: Roboto;
  --font-weight-headings-h7: 500;
  --font-size-headings-h7: 14px;
  --line-height-headings-h7: 20px;
  --letter-spacing-headings-h7: normal;
  --font-headings-h4: Roboto;
  --font-weight-headings-h4: 400;
  --font-size-headings-h4: 28px;
  --line-height-headings-h4: 36px;
  --letter-spacing-headings-h4: normal;
  --font-label-large strong: Circular Std;
  --font-weight-label-large strong: 500;
  --font-size-label-large strong: 15px;
  --line-height-label-large strong: 24px;
  --letter-spacing-label-large strong: normal;
  --font-headings-h6: Roboto;
  --font-weight-headings-h6: 400;
  --font-size-headings-h6: 17px;
  --line-height-headings-h6: 24px;
  --letter-spacing-headings-h6: normal;
  --font-capitalized text-large strong: Roboto;
  --font-weight-capitalized text-large strong: 600;
  --font-size-capitalized text-large strong: 12px;
  --line-height-capitalized text-large strong: 16px;
  --letter-spacing-capitalized text-large strong: 0.18px;
  --font-capitalized text-large: Roboto;
  --font-weight-capitalized text-large: 500;
  --font-size-capitalized text-large: 12px;
  --line-height-capitalized text-large: 16px;
  --letter-spacing-capitalized text-large: 0.18px;
  --font-capitalized text-small strong: Roboto;
  --font-weight-capitalized text-small strong: 600;
  --font-size-capitalized text-small strong: 10px;
  --line-height-capitalized text-small strong: 12px;
  --letter-spacing-capitalized text-small strong: 0.15px;
  --font-headings-h2: Roboto;
  --font-weight-headings-h2: 400;
  --font-size-headings-h2: 36px;
  --line-height-headings-h2: 44px;
  --letter-spacing-headings-h2: normal;
  --font-label link-small link: Roboto;
  --font-weight-label link-small link: 500;
  --font-size-label link-small link: 12px;
  --line-height-label link-small link: 16px;
  --letter-spacing-label link-small link: normal;
  --font-label link-x small link: Roboto;
  --font-weight-label link-x small link: 500;
  --font-size-label link-x small link: 11px;
  --line-height-label link-x small link: 16px;
  --letter-spacing-label link-x small link: normal;
  --font-label-small strong: Circular Std;
  --font-weight-label-small strong: 500;
  --font-size-label-small strong: 12px;
  --line-height-label-small strong: 16px;
  --letter-spacing-label-small strong: normal;
  --font-label-medium strong: Circular Std;
  --font-weight-label-medium strong: 500;
  --font-size-label-medium strong: 14px;
  --line-height-label-medium strong: 20px;
  --letter-spacing-label-medium strong: normal;
  --font-headings-h1: Roboto;
  --font-weight-headings-h1: 400;
  --font-size-headings-h1: 45px;
  --line-height-headings-h1: 52px;
  --letter-spacing-headings-h1: normal;
  --font-label link-medium link: Roboto;
  --font-weight-label link-medium link: 500;
  --font-size-label link-medium link: 14px;
  --line-height-label link-medium link: 20px;
  --letter-spacing-label link-medium link: normal;
  --font-label link-large link: Roboto;
  --font-weight-label link-large link: 500;
  --font-size-label link-large link: 15px;
  --line-height-label link-large link: 24px;
  --letter-spacing-label link-large link: normal;
  --font-body-small: Roboto;
  --font-weight-body-small: 400;
  --font-size-body-small: 12px;
  --line-height-body-small: 16px;
  --letter-spacing-body-small: normal;
  --font-body-medium: Roboto;
  --font-weight-body-medium: 400;
  --font-size-body-medium: 14px;
  --line-height-body-medium: 20px;
  --letter-spacing-body-medium: normal;
  --font-label-x small: Circular Std;
  --font-weight-label-x small: 450;
  --font-size-label-x small: 11px;
  --line-height-label-x small: 16px;
  --letter-spacing-label-x small: normal;
  --font-body-large: Roboto;
  --font-weight-body-large: 400;
  --font-size-body-large: 15px;
  --line-height-body-large: 24px;
  --letter-spacing-body-large: normal;
  --font-label-x small strong: Circular Std;
  --font-weight-label-x small strong: 500;
  --font-size-label-x small strong: 11px;
  --line-height-label-x small strong: 16px;
  --letter-spacing-label-x small strong: normal;

  /* Shadow Tokens */
  --shadow-shadows-small: 0px 6px 10px rgba(0, 0, 0, 0.07999999821186066), 0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
  --shadow-shadows-large: 0px 20px 40px rgba(0, 0, 0, 0.10000000149011612), 0px 4px 12px rgba(0, 0, 0, 0.10000000149011612);
  --shadow-shadows-extra large: 0px 28px 48px rgba(0, 0, 0, 0.25);
  --shadow-shadows-medium: 0px 10px 15px rgba(0, 0, 0, 0.15000000596046448), 0px 4px 6px rgba(0, 0, 0, 0.10000000149011612);
  --shadow-shadows-extra small: 0px 1px 3px rgba(0, 0, 0, 0.10000000149011612), 0px 1px 2px rgba(0, 0, 0, 0.10000000149011612);
}